@import "libs/reset.scss";
@import "libs/mixins.scss";
@import "libs/general.scss";
@import "libs/functions.scss";

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    overflow-x: hidden !important;
}

header {
    font-family: 'Shrikhand', cursive;
    padding-top: 20px;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

.container {
    width: 100%;
}

/* -----RESPONSIVE----- */

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .container {
        width: 992px;
        margin: auto;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
